<form method="post" action="">
    <fieldset>
        <div class="clearfix">
            <label><span>Имя:</span></label>
            <div class="input">
                {{ reg_form.name }}
            </div>
        </div>

        <div class="clearfix">
            <label><span>Телефон:</span></label>
            <div class="input">
                {{ reg_form.phone }}
            </div>
        </div>
        
        <div class="clearfix">
            <label><span>Email:</span></label>
            <div class="input">
                {{ reg_form.email }}
            </div>
        </div>

        <div class="actions">
            <input type="submit" value="заказать">
        </div>
    </fieldset>
    <input type='hidden' name='action' value='request' />
    {% csrf_token %}
</form>